// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary: #000103;
    --color-secondary: #f6b05f;
    --color-secondary-bis: rgba(246, 176, 95, .5);
    --color-reverse: #fff;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --color-icon: #000;
    --color-btn-effect: #f6b05f;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

.light-mode {
    --color-primary: #FFFFFF;
    --color-secondary: #e40145;
    --color-secondary-bis: rgba(228, 1, 69, .5);
    --color-reverse: #000;
    --color-white: #454e56;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #f8f8f8;
    --color-grey-6: #12181b;
    --color-icon: #fff;
}

body {
    background-color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

// LINKS
a, button {
    display: inline-block;
    text-decoration: none;
    // color: inherit;
    font-family: inherit;
}

// TITLE h(x)
h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1.1rem;
}

.sr-only {
    // font-size: 0; 
    // font-size:0 a utiliser qu'avec les nouveaux lescteurs d'écrans
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
    border: 0;
    color: transparent;
    position: absolute !important;
}

.fa-download {
    color: var(--color-icon) !important;
}

header {
    min-height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section {
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}

.sec1 {
    display: none;
    transform: translateY(0) scale(1);
    padding: 0 !important;
    overflow: hidden;
}

.sec2 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec3 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec4 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec5 {
    display: none;
    transform: translateY(0) scale(1);
}

.active {
    display: block;
    animation: scaleAnim 1s ease-in-out;
    @keyframes scaleAnim {

        0% {
            transform: translateY(-100%) scaleY(0)
        }

        100% {
            transform: translateY(0) scaleY(1)
        }
    }
}

//Controls
.controlls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);

    .active-btn {
        background-color: var(--color-secondary) !important;
        transition: all .4s ease-in-out;

        i {
            color: var(--color-icon) !important;
        }
    }

    .control {
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-white);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1) ;
        border: 2px solid var(--color-icon);

        &:focus, &:active, &:hover {
            outline: 4px solid var(--color-secondary);
        }
    
        i {
            font-size: 1.2rem;
            color: var(--color-primary);
            pointer-events: none;
        }
    }
}

.theme-btn {
    top: 5%;
    right: 3%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7rem 0;
    box-shadow: var(--box-shadow-1) ;
    transition: all .1s ease-in-out;

    &:focus, &:active, &:hover {
        transform: translateY(-3px);
        outline: 4px solid var(--color-secondary);
    }

    i {
        font-size: 1.4rem;
        color: var(--color-icon);
        pointer-events: none;
    }
}

/*Header-content*/
.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    width: 100%;

    .left-header {
        display: flex;
        align-items: center;
        position: relative;

        .h-shape {
            transition: all .4s ease-in-out;
            width: 65%;
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
        }

        .image {
            border-radius: var(--br-sm-2);
            height: 90%;
            width: 68%;
            margin-left: 4rem;
            background-color: var(--color-black);
            transition: all .4s ease-in-out;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .4s ease-in-out;
                filter: grayscale(100%);

                &:hover{
                    filter: grayscale(0);
                }
            }
        }
    }

    .right-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // padding-right: 18rem;
        // height: 100%;
        // position: relative;
        // width: 100%;
        width: 75%;

        .name {
            font-size: 1.9rem;

            .title-h1 {
                color: var(--color-secondary);
                font-size: 2.5rem;
            }
        }

        .intro {
            margin: 1.5rem 0;
            line-height: 2rem;

            strong {
                color: var(--color-secondary);
            }
        }
        .btn-con {
            display: flex;
            align-self: flex-start;
        
            .main-btn {
                background-color: var(--color-icon);
                outline: 2px solid var(--color-icon);
                
                .text {
                    padding: 0 1rem;
                }
                &:active, &:focus, &:hover {
                    outline: 2px solid var(--color-secondary);
                    background-color: var(--color-secondary);
                    color: var(--color-icon);
                }               
            }
        }
    }
}

/*About*/
.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;

    .right-about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;

        .about-item {
            border: 1px solid var(--color-grey-5);
            border-radius: 5px;
            transition: all .4s ease-in-out;
            box-shadow: 1px 2px 15px rgba(0,0,0,.1);

            &:hover {
                cursor: default;
                transform: translateY(-5px);
                border: 1px solid var(--color-secondary);
                box-shadow: 1px 4px 15px rgba(0,0,0,.32);
            }

            &:focus {
                outline: 1px solid var(--color-secondary);
            }

            .abt-text {
                padding: 1.5rem;
                display: flex;
                flex-direction: column;

                .large-text {
                    font-size: 3rem;
                    font-weight: 700;
                    color: var(--color-secondary);
                }

                .small-text {
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color: var(--color-grey-1);
                    letter-spacing: 2px;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 15px;
                        width: 2rem;
                        height: 2px;
                        background-color: var(--color-grey-5);
                    }
                }
            }
        }
    }

    .left-about {
        padding-right: 3rem;

        p {
            line-height: 2rem;
            padding: 1rem;
            color: var(--color-grey-1);
        }

        h4 {
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}

.about-stats {
    display: flexbox;
    width: 100%;
    height: 100% !important;
    position: relative;
    // padding: 0;
    padding-bottom: 4rem;

    .progress-bars {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;

        .progress-bar {
            display: flex;
            flex-direction: column;

            .prog-title {
                text-transform: uppercase;
                font-weight: 500;
            }

            .progress-con {
                display: flex;
                align-items: center;

                .prog-text {
                    color: var(--color-grey-2);
                }

                .progress {
                    width: 100%;
                    height: .45rem;
                    background-color: var(--color-grey-4);
                    margin-left: 1rem;
                    position: relative;

                    span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: var(--color-secondary);
                        transition: all .4s ease-in-out;
                        width: 60%;
                    }

                    .html {
                        width: 95%;
                    }
                    .css {
                        width: 95%;
                    }
                    .rwd {
                        width: 90%;
                    }
                    .sass {
                        width: 75%;
                    }
                    .seo {
                        width: 60%;
                    }
                    .a11y {
                        width: 70%;
                    }
                    .js {
                        width: 55%;
                    }
                    .figma {
                        width: 70%;
                    }
                    .react {
                        width: 45%;
                    }
                    
                }
            }
        }
    }
}

.stat-title{
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 40%;
        height: 1px;
        background-color: var(--color-grey-5);
        transform: translateX(-50%);
    }
}

/*Timeline*/
.timeline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
    .timeline-item{
        position: relative;
        padding-left: 3rem;
        border-left: 1px solid var(--color-grey-5);
        .tl-icon{
            position: absolute;
            left: -27px;
            top: 0;
            background-color: var(--color-secondary);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 1.3rem;
            }
        }
        .tl-duration{
            padding: .2rem .6rem;
            background-color: var(--color-grey-5);
            border-radius: 15px;
            display: inline-block;
            font-size: .8rem;
            text-transform: uppercase;
            font-weight: 500;
        }
        h5{
            padding: 1rem 0;
            text-transform: uppercase;
            font-size: 1.1rem;
            font-weight: 600;
            span{
                color: var(--color-grey-2);
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
        p{
            color: var(--color-grey-2);
        }
    }
}

//Portfolios
.port-text{
    padding: 2rem 0;
    text-align: center;
}

.portfolios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .portfolio-item{
        position: relative;
        border-radius: 15px;
        img{
            width: 100%;
            // height: 300px;
            object-fit: cover;
            border-radius: 15px;
            filter: grayscale(.7);
        }
        .hover-items{
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary-bis);
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 1;
            // transform: scale(0);
            // transition: all .4s ease-in-out;
            h3{
                font-size: 1.5rem;
                color: var(--color-icon);
                margin-bottom: 1.5rem;
            }
            .icons{
                display: flex;
                justify-content: center;
                align-items: center;
                .icon{
                    background-color: var(--color-primary);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 1rem;
                    cursor: pointer;
                    transition: all .4s ease-in-out;

                    i{
                        font-size: 1.5rem;
                        color: var(--color-white);
                        margin: 0 1rem;
                    }

                    &:hover{
                        background-color: var(--color-white);
                        outline: 3px solid #000;
                        i{
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }
        .c-dialog {
            position: fixed;
            z-index: 100;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            padding: 2.4rem;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            background: var(--color-secondary-bis);
            transition: .2s;
            .c-dialog__box {
                flex: 1;
                max-width: 70rem;
                margin: auto;
                padding: 2.4rem;
                background-color: var(--color-primary);
                
                button {
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    .fa-times {
                        font-size: 1.5rem;
                        padding: .5rem;
                    }
                }
            }
        }
        .c-dialog[aria-hidden="true"] {
            visibility: hidden;
            opacity: 0;
        }
    }
}

// .portfolio-item:hover .hover-items{
//     opacity: 1;
//     transform: scale(1);
// }

//Blogs Section
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .blog{
        position: relative;
        background-color: var(--color-grey-5);
        border: 1px solid var(--color-grey-1);
        border-radius: 5px;
        box-shadow: 1px 1px 20px rgba(0,0,0,.1);
        transition: all .4s ease-in-out;
        // &:hover{
        //     box-shadow: 1px 1px 20px rgba(0,0,0,.3);
        //     transform: translateY(-5px);
        //     transition: all .4s ease-in-out;
        //     img{
        //         filter: grayscale(0);
        //         // transform: scale(1.1);
        //         box-shadow: 0px 4px 15px rgba(0,0,0,0.8);
        //     }
        // }
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            filter: grayscale(100%);
            transition: all .4s ease-in-out;
        }
        .blog-text{
            margin-top: -7px;
            padding: 1.1rem;
            border-top: 8px solid var(--color-secondary);
            h4{
                font-size: 1.5rem;
                margin-bottom: .7rem;
                transition: all .4s ease-in-out;
                cursor: pointer;
                &:hover{
                    color: var(--color-secondary);
                }
            }
            p{
                color: var(--color-grey-2);
                line-height: 2rem;
                padding-bottom: 1rem;
            }
        }
        .c-dialog {
            position: fixed;
            z-index: 100;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            padding: 2.4rem;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            background: var(--color-secondary-bis);
            transition: .2s;
            .c-dialog__box {
                    flex: 1;
                    max-width: 70rem;
                    margin: auto;
                    padding: 2.4rem;
                    background-color: var(--color-primary);

                    button {
                        border-radius: 50%;
                        width: 35px;
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        .fa-times {
                            font-size: 1.5rem;
                            padding: .5rem;
                        }
                    }
                }
        }
        .c-dialog[aria-hidden="true"] {
            visibility: hidden;
            opacity: 0;
        }
    }
}


//Contact section
.contact-content-con {
    display: flex;
    padding-top: 3.5rem;

    .left-contact {
        flex: 2;

        h4 {
            margin-top: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
        }
        p {
            margin: 1rem 0;
            line-height: 2rem;
        }

        .contact-info {
            .contact-item {
                display: flex;
                // align-items: center;
                flex-direction: column;
                justify-content: space-between;
                p {
                    margin: .3rem 0 !important;
                    padding: 0 !important;
                }
                .icon {
                    display: grid;
                    grid-template-columns: 40px 1fr;
                    i {
                        display: flex;
                        align-items: center;
                        font-size: 1.3rem;
                        color: var(--color-secondary);
                    }
                }
            }
        }

        .contact-icon {
            display: flex;
            margin-top: 2rem;

            a {
                display: flex;
                align-items: center;
                color: var(--color-grey0);
                background-color: var(--color-grey-4);
                border: 2px solid var(--color-icon);
                cursor: pointer;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 .4rem;
                transition: all .4s ease-in-out;

                &:hover {
                    background-color: var(--color-secondary);
                    i {
                        color: var(--color-primary);
                    }
                }
                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.3rem;
                }
            }
        }
    }

    .right-contact {
        flex: 3;
        margin-left: 3rem;

        .input-control {
            margin: .5rem 0;

            label {
                color: var(--color-reverse);
                display: flex;
                align-items: center;
                padding: 0 .5rem;
            }
            input, textarea {
                border-radius: 30px;
                font-weight: inherit;
                font-size: inherit;
                font-family: inherit;
                padding: .8rem 1.1rem;
                outline: none;
                border: none;
                background-color: var(--color-secondary-bis);
                width: 90%;
                resize: none;
                margin: 1rem 0;
                &::placeholder {
                    color: var(--color-primary);
                    font-weight: 600;
                }
            }
        }
        .i-c-2{
            display: flex;
            :last-child{
                margin-left: .1rem;
            }
        }
        // .submit-btn-form{
        //     display: flex;
        //     justify-content: flex-start;
        //     .btn-text {
        //         font-weight: 600;
        //     }
        // }
        .btn-con {
            display: flex;
            align-self: flex-start;
        
            .main-btn {
                background-color: var(--color-icon);
                outline: 2px solid var(--color-icon);
                
                .text {
                    padding: 0 1rem;
                }
                &:active, &:focus, &:hover {
                    outline: 2px solid var(--color-secondary);
                    background-color: var(--color-secondary);
                    color: var(--color-icon);
                }               
            }
        }
    }
}


/*Independed components*/
.btn-con {
    display: flex;
    align-self: flex-start;

    .main-btn {
        color: var(--color-secondary);
        background-color: var(--color-black);
        &:hover {
            background-color: var(--color-secondary);
            color: var(--color-black);
        }
    }
    
}

.submit-btn-form {
    display: flex;
    justify-content: flex-start;
    background-color: #000;
    color: var(--color-grey0);
    margin: .5rem 0;
    border-radius: 30px;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;

    .btn-text {
        padding: 0 2rem;
    }

    .btn-icon {
        background-color: var(--color-secondary);
        color: var(--color-black);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .4s ease-out;
        z-index: -1;
    }

    &:hover {
        transition: all .4s ease-out;
        background-color: var(--color-secondary);
        color: var(--color-black);
        transform: translateX(0);
        transition: all .4s ease-out;

        &::before {
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            transform: translateX(0);
            transition: all .4s ease-out;
        }
    }
}

.main-btn {
    border-radius: 30px;
    color: var(--color-reverse);
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;

    .btn-text {
        padding: 0 2rem;

        &:hover {
            color: var(--color-reverse);
        }
    }

    .btn-icon {
        background-color: var(--color-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .4s ease-out;
        z-index: -1;
    }

    &:hover {
        transition: all .4s ease-out;
        color: var(--color-reverse);

        &::before {
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            transform: translateX(0);
            transition: all .4s ease-out;
        }
    }

}

.main-title{
    text-align: center;

    h2 {
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;

        .main-title-span {
            color: var(--color-secondary);
        }

        .bg-text {
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-secondary-bis);
            transition: all .4s ease-in-out;
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: 800;
            font-size: 6.3rem;
        }
    }
}

.about-container .left-about p {
    padding-left: 0;
}

// MEDIA QUERIES

@media screen and (maw-width: 450px) {
    .left-header {
        display: none;
    }
}
@media screen and (max-width:660px) {
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
    .portfolios {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width:700px) {
    .section {
        padding: 7rem 3rem;
    }
    .about-stats .progress-bars {
        grid-template-columns: repeat(1, 1fr);
    }
    .about-container .right-about {
        grid-template-columns: repeat(1, 1fr);
    }
    .timeline {
        grid-template-columns: repeat(1, 1fr);
    }
    .main-title {
        h2 {
            font-size: 3rem;
            span {
                font-size: 3rem;
            }
            .bg-text {
                font-size: 4rem;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .theme-btn {
        width: 40px;
        height: 40px;
    }

    .header-content {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }
    .controlls {
        ul {
            .control {
                width: 40px;
                height: 40px;
            }
        }
    }
    .section {
        padding: 2rem 3rem 0 2rem !important;
    }
    header {
        padding: 0 !important;
        overflow: visible;

        .header-content {
            grid-template-columns: repeat(1, 1fr);
            // padding-bottom: 6rem;

            .left-header {
                z-index: -1;
                top: 0;
                left: 0;
                .h-shape {
                    display: none;
                }
                .image {
                    margin: 0 auto;
                    width: 90%;
                }
            }
            .right-header {
                grid-row: 1;
                // padding-right: 0rem !important;
                width: 90%;
                margin: 0 auto;

                .name {
                    font-size: 2rem !important;
                    text-align: center;
                    // padding-top: 3rem;
                }
                p {
                    font-size: 1.1rem;
                }
            }
        }        
    }
    section {
        padding: 0rem !important;
    }
    .sec1 {
        overflow: visible;
    }
    main {
        .sec2 {
            .main-title {
                h2 {
                    font-size: 2rem;
                    span {
                        font-size: 2rem;
                        // font-size: 2.3rem;
                    }
                    .bg-text {
                        // font-size: 4rem;
                        font-size: 2.3rem;
                        padding-top: 2rem;
                    }
                }
            }
            .about-container {
                grid-template-columns: repeat(1, 1fr);
                padding-right: 1rem;

                .left-about {
                    padding-right: 0;
    
                    h4 {
                        font-size: 1.6rem;
                    }
                    p {
                        font-size: 1.1rem;
                        padding-left: 0;
                    }
                }
                .right-about{
                    grid-template-columns: repeat(1, 1fr);
                    padding-top: 2.5rem;
                }
            }
            .about-stats {
                .progress-bars {
                    grid-template-columns: repeat(1, 1fr);

                    .progress-bar {
                        .progress-con {
                            .progress {
                                width: 75%;
                            }
                        }
                    }
                }
            }
            .timeline {
                grid-template-columns: repeat(1, 1fr);
                padding-bottom: 6rem;
                padding-right: 1.5rem;
    
                .timeline-item {
                    .tl-icon {
                        left: -20px;
                        width: 40px;
                        height: 40px;
                    }
                    h4 {
                        font-size: 1.4rem;
                    }
                    p {
                        font-size: 1.1rem;
                        padding: 0 1rem 0 0;
                    }
                }
            }
        }
        .sec3 {
            .main-title {
                h2 {
                    font-size: 2rem;
                    span {
                        font-size: 2rem;
                        // font-size: 2.3rem;
                    }
                    .bg-text {
                        // font-size: 4rem;
                        font-size: 2.3rem;
                        padding-top: 2rem;
                    }
                }
            }
            .port-text {
                font-size: 1.1rem;
            }
            .portfolios{
                grid-template-columns: repeat(1, 1fr);
                padding-bottom: 6rem;
                margin-top: 1rem;
            }
        }
        .sec4 {
            .blogs-content {
                .blogs{
                    grid-template-columns: repeat(1, 1fr);
                    padding-bottom: 6rem;
                }
            }
        }
        .sec5 {
            .contact-container {
                .contact-content-con {
                    flex-direction: column;

                    .right-contact {
                        background-color: #e40145;
                        margin-left: 0;
                        margin-top: 2.5rem;
                        margin-bottom: 6rem;
                        .i-c-2 {
                            flex-direction: column;

                            &:last-child {
                                margin-left: 0;
                                margin-top: 1.5rem;
                            }
                        }
                    }
                    .left-contact {
                        .contact-info {
                            .contact-item {
                                flex-direction: column;
                                margin: 1rem 0;

                                p {
                                    font-size: 15px;
                                    color: var(--color-grey-2);
                                }
                                span {
                                    font-size: 15px;
                                }
                                .icon {
                                    grid-template-columns: 25px 1fr;
                                }
                            }
                        }
                    } 
                }
            }
        }
    }  
}
@media screen and (max-width: 810px) {
    .controlls{
        // top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        right: 5%;
        // transform: translateX(-50%);
        // width: 100%;
        // background-color: var(--color-grey-5);
        .control{
            margin: 1rem .3rem;
        }
    }
    
}
@media screen and (max-width:970px) {
    .section{
        padding: 7rem 6rem;
    }
    .header-content{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
        .left-header {
            .h-shape {
                display: none;
            }
            .image {
                width: 90% !important;
                margin: 0 auto !important;
            }
        }
        .right-header {
            grid-row: 1;
            // padding-right: 0rem !important;
            // padding: 3rem 5rem;
            width: 90%;
            margin: 0 auto;
            .name {
                font-size: 2.5rem !important;
                text-align: center;
                // padding-top: 3rem;
            }
        }
    }
    main {
        .about-container {
            .left-about {
                padding-right: 0rem;
            }
        }
        .timeline {
            grid-template-columns: repeat(1, 1fr);
            padding-bottom: 6rem;
        }
    }
}
@media screen and (max-width:1070px) {
    .about-container{
        grid-template-columns: repeat(1, 1fr);
        .right-about{
            padding-top: 2.5rem;
        }
    }
    .main-title{
        h2{
            font-size: 4rem;
            span{
                font-size: 4rem;
            }
            .bg-text{
                font-size: 4.5rem;
            }
        }
    }
}
@media screen and (max-width:1250px) {
    .blogs{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 6rem;
    }
    .portfolios{
        grid-template-columns: repeat(2, 1fr);
    }
    // .header-content .right-header{
    //     padding-right: 9rem;
    // }

}
@media screen and (max-width:1432px) {
    .section{
        padding: 7rem 11rem;
    }

    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
        
    }
    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
    }
    .contact-content-con .right-contact .i-c-2 :last-child{
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .contact-content-con .right-contact{
        margin-bottom: 6rem;
    }

    .main-title{
        h2{
            .bg-text{
                font-size: 5.5rem;
            }
        }
    }
    
}
