/*About*/
/*Timeline*/
.contact-content-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3.5rem;
}

.contact-content-con .left-contact {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}

.contact-content-con .left-contact .contact-info .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-content-con .left-contact .contact-info .contact-item p {
  margin: .3rem 0 !important;
  padding: 0 !important;
}

.contact-content-con .left-contact .contact-info .contact-item .icon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr;
      grid-template-columns: 40px 1fr;
}

.contact-content-con .left-contact .contact-info .contact-item .icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  color: var(--color-secondary);
}

.contact-content-con .left-contact .contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.contact-content-con .left-contact .contact-icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-grey0);
  background-color: var(--color-grey-4);
  border: 2px solid var(--color-icon);
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 .4rem;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.contact-content-con .left-contact .contact-icon a:hover, .contact-content-con .left-contact .contact-icon a:active, .contact-content-con .left-contact .contact-icon a:focus {
  background-color: var(--color-secondary);
  outline: 2px solid var(--color-secondary);
}

.contact-content-con .left-contact .contact-icon a:hover i, .contact-content-con .left-contact .contact-icon a:active i, .contact-content-con .left-contact .contact-icon a:focus i {
  color: var(--color-primary);
}

.contact-content-con .left-contact .contact-icon a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
}

.contact-content-con .right-contact {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-left: 3rem;
}

.contact-content-con .right-contact .input-control {
  margin: .5rem 0;
}

.contact-content-con .right-contact .input-control label {
  color: var(--color-reverse);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .5rem;
}

.contact-content-con .right-contact .input-control input, .contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: 600;
  font-size: inherit;
  font-family: inherit;
  padding: .8rem 1.1rem;
  outline: none;
  border: 2px solid var(--color-secondary);
  background-color: var(--color-secondary-bis);
  width: 90%;
  resize: none;
  margin: 1rem 0;
}

.contact-content-con .right-contact .input-control input::-webkit-input-placeholder, .contact-content-con .right-contact .input-control textarea::-webkit-input-placeholder {
  color: var(--color-black);
  font-weight: 700;
}

.contact-content-con .right-contact .input-control input:-ms-input-placeholder, .contact-content-con .right-contact .input-control textarea:-ms-input-placeholder {
  color: var(--color-black);
  font-weight: 700;
}

.contact-content-con .right-contact .input-control input::-ms-input-placeholder, .contact-content-con .right-contact .input-control textarea::-ms-input-placeholder {
  color: var(--color-black);
  font-weight: 700;
}

.contact-content-con .right-contact .input-control input::placeholder, .contact-content-con .right-contact .input-control textarea::placeholder {
  color: var(--color-black);
  font-weight: 700;
}

.contact-content-con .right-contact .input-control input:active, .contact-content-con .right-contact .input-control input:focus, .contact-content-con .right-contact .input-control input:hover, .contact-content-con .right-contact .input-control textarea:active, .contact-content-con .right-contact .input-control textarea:focus, .contact-content-con .right-contact .input-control textarea:hover {
  outline: 2px solid var(--color-secondary);
  color: var(--color-icon);
}

.contact-content-con .right-contact .i-c-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-content-con .right-contact .i-c-2 :last-child {
  margin-left: .1rem;
}

.contact-content-con .right-contact .btn-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contact-content-con .right-contact .btn-con .main-btn {
  background-color: var(--color-icon);
  outline: 2px solid var(--color-icon);
}

.contact-content-con .right-contact .btn-con .main-btn .text {
  padding: 0 1rem;
}

.contact-content-con .right-contact .btn-con .main-btn:active, .contact-content-con .right-contact .btn-con .main-btn:focus, .contact-content-con .right-contact .btn-con .main-btn:hover {
  outline: 2px solid var(--color-secondary);
  background-color: var(--color-secondary);
  color: var(--color-icon);
}

/*Independed components*/
.btn-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.btn-con .main-btn {
  color: var(--color-secondary);
  background-color: var(--color-black);
}

.btn-con .main-btn:hover {
  background-color: var(--color-secondary);
  color: var(--color-black);
}

.submit-btn-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #000;
  color: var(--color-grey0);
  margin: .5rem 0;
  border-radius: 30px;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.submit-btn-form .btn-text {
  padding: 0 2rem;
}

.submit-btn-form .btn-icon {
  background-color: var(--color-secondary);
  color: var(--color-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}

.submit-btn-form::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  z-index: -1;
}

.submit-btn-form:hover {
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  background-color: var(--color-secondary);
  color: var(--color-black);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  transition: all .4s ease-out;
}

.submit-btn-form:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.main-btn {
  border-radius: 30px;
  color: var(--color-reverse);
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main-btn .btn-text {
  padding: 0 2rem;
}

.main-btn .btn-text:hover {
  color: var(--color-reverse);
}

.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}

.main-btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  z-index: -1;
}

.main-btn:hover {
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  color: var(--color-reverse);
}

.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.main-title {
  text-align: center;
}

.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}

.main-title h2 .main-title-span {
  color: var(--color-secondary);
}

.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-secondary-bis);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}

.about-container .left-about p {
  padding-left: 0;
}
/*# sourceMappingURL=styles.css.map */